.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

a {
    text-decoration: none !important;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 7px;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group {
    margin-bottom: 1rem;
}


:root {
    --brand-orange: #FF4F00;
}

/* Login layout */
body {
    background: linear-gradient(141deg, #F3F5FB 14.05%, #FFDCCC 139.54%);
}

body.login-layout > main > .container {
    padding: 100px 15px 20px;
}

body:not(.login-layout) > main > .container {
    padding: 20px 15px 20px;
/*    margin-top: 100px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    background: var(--bs-white);
    border-radius: 16px;*/
}

#login-form {
    width: 100%;
    max-width: 440px;
    background: var(--bs-white);
    border-radius: 16px;
    padding: 24px 28px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

.logo-adshowcase {
    font-family: "Allerta Stencil", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 72px;
    color: var(--brand-orange);
    display: inline-block;
}
/* END Login Layout */

.swal2-fixed-width {
    width: 460px !important;
}
.swal2-no-border {
    border: 0 !important;
    margin: 20px !important;
}

/* SweetAlert2 */
.swal2-close {
    position: absolute;
    top: -12px;
    right: -12px;
    height: 24px !important;
    width: 24px !important;
    color: var(--bs-gray-500);
    font-size: 26px !important;
}
.swal2-modal .swal2-close {
    top: 17px !important;
    right: 17px !important;
}
.swal2-close span {
    background-color: var(--bs-gray-500);
}
.swal2-close:focus {
    box-shadow: none !important;
}
.swal2-close:hover {
    color: var(--bs-gray-500);
}
.swal2-toast.swal2-icon-success > .swal2-timer-progress-bar-container > .swal2-timer-progress-bar {
    background: #a5dc86;
}
.swal2-toast.swal2-icon-error > .swal2-timer-progress-bar-container > .swal2-timer-progress-bar {
    background: #f27474;
}
.swal2-toast.swal2-icon-warning > .swal2-timer-progress-bar-container > .swal2-timer-progress-bar {
    background: #f8bb86;
}
.swal2-toast > .swal2-html-container {
    width: 305px !important;
    margin: 0 !important;
    position: absolute;
    top: 50%;
    left: 46%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* END SweetAlert2 */

/* Icons */
i.bi {
    display: inline-block;
    line-height: 1;
    width: 1em;
    height: 1em;
    font-size: 1em;
    vertical-align: -0.125em;
}

i.bi.icon-16px { font-size: 16px; }
i.bi.icon-24px { font-size: 24px; }
i.bi.icon-32px { font-size: 32px; }
i.bi.icon-40px { font-size: 40px; }
i.bi.icon-56px { font-size: 56px; }
i.bi.icon-80px { font-size: 80px; }
/* END Icons */

/* Home Page */
.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
    font-family: "Allerta Stencil", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
    color: var(--brand-orange);
}
/* END Home Page */

/* Breadcrumb */
.breadcrumb-item a {
    color: var(--brand-orange);
}
/* END Breadcrumb */