
:root {
    --main-color: #FF4F00;
    --main-color-rgb: 255,79,0;
    --focus-shadow-size: 0 0 0 0.125em;
    --effects-shadow-card: 0px 2px 10px 0px rgba(0, 43, 72, 0.16), 0px 2px 40px 0px rgba(0, 41, 72, 0.08);
    --swal2-success-color: #a5dc86;
    --swal2-error-color: #f27474;
    --swal2-warning-color: #f8bb86;
    --filter-bg-color: #1B043F;
}

#logout:focus, #logout:hover {
    background-color: transparent !important;
}

/* Login layout */
body {
    background: linear-gradient(141deg, #F3F5FB 14.05%, #FFDCCC 139.54%);
}

body.login-layout > main > .container {
    padding: 100px 15px 20px;
}

body:not(.login-layout) > main > .container {
    padding: 20px 15px 20px;
}

#login-form {
    width: 100%;
    max-width: 440px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    padding: 24px 28px;
}

.logo-adshowcase {
    font-family: "Allerta Stencil", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 72px;
    color: var(--main-color);
    display: inline-block;
}

.bg-main {
    background-color: var(--main-color) !important;
}

.color-main {
    color: var(--main-color) !important;
}
/* END Login Layout */

.cursor-pointer {
    cursor: pointer !important;
}

.swal2-fixed-width {
    width: 460px !important;
}
.swal2-no-border {
    border: 0 !important;
    margin: 20px !important;
}

/* SweetAlert2 */
.swal2-close {
    position: absolute;
    top: -12px;
    right: -12px;
    height: 24px !important;
    width: 24px !important;
    color: var(--bs-gray-500);
    font-size: 26px !important;
}
.swal2-modal .swal2-close {
    top: 17px !important;
    right: 17px !important;
}
.swal2-close span {
    background-color: var(--bs-gray-500);
}
.swal2-close:focus {
    box-shadow: none !important;
}
.swal2-close:hover {
    color: var(--bs-gray-500);
}
.swal2-toast.swal2-icon-success > .swal2-timer-progress-bar-container > .swal2-timer-progress-bar {
    background: var(--swal2-success-color);
}
.swal2-toast.swal2-icon-error > .swal2-timer-progress-bar-container > .swal2-timer-progress-bar {
    background: var(--swal2-error-color);
}
.swal2-toast.swal2-icon-warning > .swal2-timer-progress-bar-container > .swal2-timer-progress-bar {
    background: var(--swal2-warning-color);
}
.swal2-toast > .swal2-html-container {
    width: 305px !important;
    margin: 0 !important;
    position: absolute;
    top: 50%;
    left: 46%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* END SweetAlert2 */

/* Icons */
i.bi {
    display: inline-block;
    line-height: 1;
    width: 1em;
    height: 1em;
    font-size: 1em;
    vertical-align: -0.125em;
}

i.bi.icon-16px { font-size: 16px; }
i.bi.icon-24px { font-size: 24px; }
i.bi.icon-32px { font-size: 32px; }
i.bi.icon-40px { font-size: 40px; }
i.bi.icon-56px { font-size: 56px; }
i.bi.icon-80px { font-size: 80px; }
/* END Icons */

/* Home Page */
.navbar-brand, .navbar-tabs {
    min-height: auto;
}
.container>.navbar .navbar-brand,
.navbar>.container .navbar-brand {
    margin-inline-start: 0px;
}
.navbar-brand, .navbar-brand:hover, .navbar-brand:focus, .title-adshowcase {
    font-family: "Allerta Stencil", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
    color: var(--main-color);
}
/* END Home Page */

/* Breadcrumb */
.breadcrumb-item a {
    color: var(--main-color);
    padding: 0px;
}
/* END Breadcrumb */

/* DataTable */
.dt-container .main-column {
    width: 15%;
}
.dt-container a.pagination-link[disabled] {
    display: none;
}
.dt-container a.pagination-link:not(.is-current) {
    background-color: var(--bs-white);
    color: var(--bs-secondary);
}
.dt-container a.pagination-link.is-current, a.pagination-link.is-selected {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.dt-container .navbar-link:not(.is-arrowless):after,
.dt-container .select:not(.is-multiple):not(.is-loading):after {
    border-color: var(--main-color);
}
.dt-container table.dataTable thead > tr > th.dt-orderable-asc:hover,
.dt-container table.dataTable thead > tr > th.dt-orderable-desc:hover,
.dt-container table.dataTable thead > tr > td.dt-orderable-asc:hover,
.dt-container table.dataTable thead > tr > td.dt-orderable-desc:hover {
    outline: unset;
    outline-offset: unset;
}
.dt-container .dt-info,
.dt-container .dt-length select {
    color: var(--bs-secondary);
}
.dt-container .input:focus,
.dt-container .input:focus-within,
.dt-container .is-focused.input,
.dt-container .is-focused.textarea,
.dt-container .select select.is-focused,
.dt-container .select select:focus,
.dt-container .select select:focus-within,
.dt-container .textarea:focus,
.dt-container .textarea:focus-within {
    border-color: var(--main-color);
    box-shadow: var(--focus-shadow-size, 0 0 0 0.125em) rgba(var(--main-color-rgb, 255,79,0), var(--bulma-input-focus-shadow-alpha, .35));
}
.dt-container table.dataTable {
    background-color: transparent;
}
.dt-container table.dataTable thead tr,
.dt-container table.dataTable tbody tr {
    background-color: var(--bs-white);
}
.dt-container table.dataTable tbody tr:not(:hover) {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease-in-out; /* vendorless fallback */
    -o-transition: background-color 0.3s ease-in-out; /* opera */
    -ms-transition: background-color 0.3s ease-in-out; /* IE 10 */
    -moz-transition: background-color 0.3s ease-in-out; /* Firefox */
    -webkit-transition: background-color 0.3s ease-in-out; /*safari and chrome */
}
.dt-container table.dataTable th, table.dataTable td {
    vertical-align: middle;
}
/* END DataTable */

/* Forms */
section.form {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 36px 0 40px 0;
    margin-bottom: 12px;
}
section.form .form-title {
    padding-left: 25px;
    margin-top: -4px;
}
/* END Forms */

/* Off Canvas */
.nav-link:hover,
.nav-link:focus,
.list-group-item-action:not(.active):hover,
.list-group-item-action:not(.active):focus {
    color: var(--main-color);
}
/* END Off Canvas */

/* Btn Styles */
.btn {
    --bs-btn-border-radius: 2rem;
    --bs-btn-border-radius-sm: 2rem;
    --bs-btn-border-radius-lg: 2rem;
}
/* END Btn Styles */

/* Dashboard */
.font-adshowcase {
    font-family: "Allerta Stencil", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
}

.logo-adshowcase-dashboard {
    font-family: "Allerta Stencil", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
    color: var(--main-color);
    display: inline-block;
    margin: 0;
}

.list-group-item.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--bs-white);
}

.site-index .card {
    border-color: transparent;
}

.site-index .card:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease-in-out; /* vendorless fallback */
    -o-transition: background-color 0.3s ease-in-out; /* opera */
    -ms-transition: background-color 0.3s ease-in-out; /* IE 10 */
    -moz-transition: background-color 0.3s ease-in-out; /* Firefox */
    -webkit-transition: background-color 0.3s ease-in-out; /*safari and chrome */

    border-color: var(--main-color);
    transition: border-color 0.3s ease-in-out; /* vendorless fallback */
    -o-transition: border-color 0.3s ease-in-out; /* opera */
    -ms-transition: border-color 0.3s ease-in-out; /* IE 10 */
    -moz-transition: border-color 0.3s ease-in-out; /* Firefox */
    -webkit-transition: border-color 0.3s ease-in-out; /*safari and chrome */
}

.site-index .card:hover i,
.site-index .card:hover .card-title {
    color: var(--main-color) !important;
    transition: color 0.3s ease-in-out; /* vendorless fallback */
    -o-transition: color 0.3s ease-in-out; /* opera */
    -ms-transition: color 0.3s ease-in-out; /* IE 10 */
    -moz-transition: color 0.3s ease-in-out; /* Firefox */
    -webkit-transition: color 0.3s ease-in-out; /*safari and chrome */
}
/* END Dashboard */

/* Dropdown */
.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--main-color);
}
.dropdown-item:hover:not(.active):not(:active),
.dropdown-item:focus:not(.active):not(:active) {
    color: var(--main-color);
}
.navbar-nav .nav-link.show, .navbar-nav .nav-link:focus {
    color: var(--bs-nav-link-color) !important;
}
#userDropdown.dropdown-toggle::after, #langDropdown.dropdown-toggle::after {
    display: none !important;
}
/* END Dropdown */

/* INIT Search Input */
.adshowcase-header-search {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.adshowcase-header-search i[class*="icon-"],
.adshowcase-header-search #btnSearchCancel {
    color: var(--bs-gray-600);
    cursor: pointer;
}
.adshowcase-header-search input::placeholder {
    font-size: 15px;
    line-height: 25px;
    color: var(--bs-gray-600);
}
.adshowcase-header-search input {
    max-height: 72px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: transparent;
}
.adshowcase-header-search .form-control:focus
/*.adshowcase-header-search input.form-control:not(input[name="exte-dt-search"]):focus-visible*/
{
    outline: none;
    background-color: unset;
    border-color: unset;
    box-shadow: unset;
}
/* END Search Input */

/* INIT Selects Catalog  */
#control-scroll-filter {
    position: relative;
    margin-top: 48px;
    padding-bottom: 48px;
}
.filter-content {
    min-height: 265px;
    margin-top: 72px;
    z-index: 1029;
    overflow: hidden;
    background-color: var(--filter-bg-color);
}
.adshowcase-bg-filter {
    background-image: url("/images/ad-showcase-bg-catalog.png");
    width: 100%;
    height: 265px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.text-banner-adshowcase {
    position: relative;
    color: var(--bs-white);
}
.title-adshowcase {
    font-size: 40px;
    line-height: 34px;
    font-weight: 300;
    color: var(--bs-white);
}
.subtitle-adshowcase {
    min-height: 56px;
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
}
#search-filter {
    height: 32px;
}
/* END Selects Catalog  */