
:root {
    --main-color-1: #FF4F00;
    --main-color-2: #0066FF;
    --bg-back: #EAEFF8;
    --main-color-rgb: 255,79,0;
    --focus-shadow-size: 0 0 0 0.125em;
    --effects-shadow-card: 0px 2px 10px 0px rgba(0, 43, 72, 0.16), 0px 2px 40px 0px rgba(0, 41, 72, 0.08);
    --swal2-success-color: #a5dc86;
    --swal2-error-color: #f27474;
    --swal2-warning-color: #f8bb86;
    --filter-bg-color: #1B043F;
    --bulma-input-focus-shadow-alpha: .35;
    --bg-back: #E4EBF6;
}

#shareModal .btn-close:hover {
    opacity: 1;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FF4F00'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414Z'/%3e%3c/svg%3e") !important;
}

#logout:focus, #logout:hover {
    background-color: transparent !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-default {
    cursor: default !important;
}

.bg-main-1 {
    background-color: var(--main-color-1) !important;
}

.color-main-1 {
    color: var(--main-color-1) !important;
}

.bg-main-2 {
    background-color: var(--main-color-2) !important;
}

.color-main-2 {
    color: var(--main-color-2) !important;
}

.border-color-2 {
    border-color: var(--main-color-2) !important;
}

.bg-back {
    background-color: var(--bg-back) !important;
}

/* Login layout */
body.login-layout > main > .container {
    padding: 100px 15px 20px;
}

body:not(.login-layout) > main > .container {
    padding: 20px 15px 20px;
}

#login-form {
    width: 100%;
    max-width: 440px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    padding: 24px 28px;
}

.logo-adshowcase {
    font-family: "Allerta Stencil", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 72px;
    color: var(--main-color-1);
    display: inline-block;
}
/* END Login Layout */

/* SweetAlert2 */
.swal2-fixed-width {
    width: 460px !important;
}
.swal2-no-border {
    border: 0 !important;
    margin: 20px !important;
}
.swal2-close {
    position: absolute;
    top: -12px;
    right: -12px;
    height: 24px !important;
    width: 24px !important;
    color: var(--bs-gray-500);
    font-size: 26px !important;
}
.swal2-modal .swal2-close {
    top: 17px !important;
    right: 17px !important;
}
.swal2-close span {
    background-color: var(--bs-gray-500);
}
.swal2-close:focus {
    box-shadow: none !important;
}
.swal2-close:hover {
    color: var(--bs-gray-500);
}
.swal2-toast.swal2-icon-success > .swal2-timer-progress-bar-container > .swal2-timer-progress-bar {
    background: var(--swal2-success-color);
}
.swal2-toast.swal2-icon-error > .swal2-timer-progress-bar-container > .swal2-timer-progress-bar {
    background: var(--swal2-error-color);
}
.swal2-toast.swal2-icon-warning > .swal2-timer-progress-bar-container > .swal2-timer-progress-bar {
    background: var(--swal2-warning-color);
}
.swal2-toast > .swal2-html-container {
    width: 305px !important;
    margin: 0 !important;
    position: absolute;
    top: 50%;
    left: 46%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* END SweetAlert2 */

/* INIT Button circle */
.circle-icon {
    background-color: var(--main-color-2);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-white);
}
.circle-icon-pos {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 25px;
}
.circle-icon.circle-50 {
    width: 50px !important;
    height: 50px !important;
}
/* END Button circle */

/* Icons */
i.bi {
    display: inline-block;
    line-height: 1;
    width: 1em;
    height: 1em;
    font-size: 1em;
    vertical-align: -0.125em;
}

i.bi.icon-16px { font-size: 16px; }
i.bi.icon-24px { font-size: 24px; }
i.bi.icon-32px { font-size: 32px; }
i.bi.icon-40px { font-size: 40px; }
i.bi.icon-56px { font-size: 56px; }
i.bi.icon-80px { font-size: 80px; }
/* END Icons */

/* Home Page */
.navbar-brand, .navbar-tabs {
    min-height: auto;
}
.container>.navbar .navbar-brand,
.navbar>.container .navbar-brand {
    margin-inline-start: 0px;
}
.navbar-brand, .navbar-brand:hover, .navbar-brand:focus, .title-adshowcase {
    font-family: "Allerta Stencil", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
    color: var(--main-color-1);
}
/* END Home Page */

/* Breadcrumb */
.breadcrumb-item a {
    color: var(--main-color-1);
    padding: 0px;
    text-decoration: none;
}
.breadcrumb a:hover {
    color: var(--main-color-1);
}
.breadcrumb-item + .breadcrumb-item::before {
    padding: 0 !important;
    content: "" !important;
}
/* END Breadcrumb */

/* DataTable */
.dt-container .pagination-link, .dt-container .pagination-next, .dt-container .pagination-previous {
    text-decoration: none !important;
}
.dt-container .main-column {
    width: 15%;
}
.dt-container a.pagination-link[disabled] {
    display: none;
}
.dt-container a.pagination-link:not(.is-current) {
    background-color: var(--bs-white);
    color: var(--bs-secondary);
}
.dt-container a.pagination-link.is-current, a.pagination-link.is-selected {
    background-color: var(--main-color-1);
    border-color: var(--main-color-1);
}
.dt-container .navbar-link:not(.is-arrowless):after,
.dt-container .select:not(.is-multiple):not(.is-loading):after {
    border-color: var(--main-color-1);
}
.dt-container table.dataTable thead > tr > th.dt-orderable-asc:hover,
.dt-container table.dataTable thead > tr > th.dt-orderable-desc:hover,
.dt-container table.dataTable thead > tr > td.dt-orderable-asc:hover,
.dt-container table.dataTable thead > tr > td.dt-orderable-desc:hover {
    outline: unset;
    outline-offset: unset;
}
.dt-container .dt-info,
.dt-container .dt-length select {
    color: var(--bs-secondary);
}
.dt-container .input:focus,
.dt-container .input:focus-within,
.dt-container .is-focused.input,
.dt-container .is-focused.textarea,
.dt-container .select select.is-focused,
.dt-container .select select:focus,
.dt-container .select select:focus-within,
.dt-container .textarea:focus,
.dt-container .textarea:focus-within {
    border-color: var(--main-color-1);
    box-shadow: var(--focus-shadow-size, 0 0 0 0.125em) rgba(var(--main-color-rgb, 255,79,0), var(--bulma-input-focus-shadow-alpha, .35));
}
.dt-container table.dataTable {
    background-color: transparent;
}
.dt-container table.dataTable thead tr,
.dt-container table.dataTable tbody tr {
    background-color: var(--bs-white);
}
.dt-container table.dataTable tbody tr:not(:hover) {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease-in-out; /* vendorless fallback */
    -o-transition: background-color 0.3s ease-in-out; /* opera */
    -ms-transition: background-color 0.3s ease-in-out; /* IE 10 */
    -moz-transition: background-color 0.3s ease-in-out; /* Firefox */
    -webkit-transition: background-color 0.3s ease-in-out; /*safari and chrome */
}
.dt-container table.dataTable th, table.dataTable td {
    vertical-align: middle;
}
/* END DataTable */

/* Forms */
section.form {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 36px 0 40px 0;
    margin-bottom: 12px;
}
section.form .form-title {
    padding-left: 25px;
    margin-top: -4px;
}
/* END Forms */

/* Off Canvas */
.nav-link:hover,
.nav-link:focus,
.list-group-item-action:not(.active):hover,
.list-group-item-action:not(.active):focus {
    color: var(--main-color-1);
}
/* END Off Canvas */

/* Dashboard */
.font-adshowcase {
    font-family: "Allerta Stencil", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
}

.logo-adshowcase-dashboard {
    font-family: "Allerta Stencil", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif;
    color: var(--main-color-1);
    display: inline-block;
    margin: 0;
}

.list-group-item.active {
    background-color: var(--main-color-1);
    border-color: var(--main-color-1);
    color: var(--bs-white);
}

.site-index .card {
    border-color: transparent;
}

.site-index .card:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease-in-out; /* vendorless fallback */
    -o-transition: background-color 0.3s ease-in-out; /* opera */
    -ms-transition: background-color 0.3s ease-in-out; /* IE 10 */
    -moz-transition: background-color 0.3s ease-in-out; /* Firefox */
    -webkit-transition: background-color 0.3s ease-in-out; /*safari and chrome */

    border-color: var(--main-color-1);
    transition: border-color 0.3s ease-in-out; /* vendorless fallback */
    -o-transition: border-color 0.3s ease-in-out; /* opera */
    -ms-transition: border-color 0.3s ease-in-out; /* IE 10 */
    -moz-transition: border-color 0.3s ease-in-out; /* Firefox */
    -webkit-transition: border-color 0.3s ease-in-out; /*safari and chrome */
}

.site-index .card:hover i,
.site-index .card:hover .card-title {
    color: var(--main-color-1) !important;
    transition: color 0.3s ease-in-out; /* vendorless fallback */
    -o-transition: color 0.3s ease-in-out; /* opera */
    -ms-transition: color 0.3s ease-in-out; /* IE 10 */
    -moz-transition: color 0.3s ease-in-out; /* Firefox */
    -webkit-transition: color 0.3s ease-in-out; /*safari and chrome */
}
/* END Dashboard */

/* Dropdown */
.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--main-color-1);
}
.dropdown-item:hover:not(.active):not(:active),
.dropdown-item:focus:not(.active):not(:active) {
    color: var(--main-color-1);
}
.navbar-nav .nav-link.show, .navbar-nav .nav-link:focus {
    color: var(--bs-nav-link-color) !important;
}
#userDropdown.dropdown-toggle::after, #langDropdown.dropdown-toggle::after {
    display: none !important;
}
/* END Dropdown */

/* INIT Search Input */
.adshowcase-header-search {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1040;
}
.adshowcase-header-search i[class*="icon-"],
.adshowcase-header-search #btnSearchCancel {
    color: var(--bs-gray-600);
    cursor: pointer;
}
.adshowcase-header-search input::placeholder {
    font-size: 15px;
    line-height: 25px;
    color: var(--bs-gray-600);
}
.adshowcase-header-search input {
    max-height: 72px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: transparent;
}
.adshowcase-header-search .form-control:focus {
    outline: none;
    background-color: unset;
    border-color: unset;
    box-shadow: unset;
}
/* END Search Input */

/* INIT Selects Catalog  */
#control-scroll-filter {
    position: relative;
    margin-top: 48px;
    padding-bottom: 48px;
    outline: none;
}
.filter-content {
    position: relative;
    min-height: 265px;
    margin-top: 72px;
    z-index: 1029;
    overflow: hidden;
    background-color: var(--filter-bg-color);
}
.adshowcase-bg-filter {
    background-image: url("/images/ad-showcase-bg-catalog.png");
    width: 100%;
    height: 265px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.text-banner-adshowcase {
    position: relative;
    color: var(--bs-white);
}
.title-adshowcase {
    font-size: 40px;
    line-height: 34px;
    font-weight: 300;
    color: var(--bs-white);
}
.subtitle-adshowcase {
    min-height: 56px;
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
}
#search-filter {
    height: 32px;
}
#search-filter .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%230066FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-size: 24px 18px;
    background-position: right 1rem center;
    background-repeat: no-repeat;
    padding-right: 3.5rem;
}
#search-filter .form-select option:disabled {
    display: none !important;
}
/* END Selects Catalog  */

/* INIT Animation Overlay Card Catalog  */
.card-hover-overlay,
.creative-card:hover.is-active .card-hover-overlay {
    top: 0;
    left: 0;
    z-index: 4;

    visibility: hidden;
    opacity: 0;
    transform: translateY(101%);
    backdrop-filter: blur(4px);

    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0s linear 0.5s;
}

/* Estado Hover */
.creative-card:hover .card-hover-overlay {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);

    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0s linear 0s;
}

.creative-card .btn-outline-light:hover {
    color: var(--main-color-1);
}

.ovelay-card {
    background-color: var(--main-color-2);
    opacity: 0.5;
}
/* END Animation Overlay Card Catalog  */

/* INIT Filter Tags Bar */
#search-filter-tags {
    z-index: 1029;
}
/* END Filter Tags Bar */

/* INIT Toggle Favorites */
.list-favorite:hover {
    background-color: var(--bg-back);
    border-radius: var(--bs-border-radius);
}
.dropdown-menu-center {
    right: auto !important;
    left: 50% !important;
    transform: translateX(calc(-50% + (24px / 2))) !important;
    inset: auto !important;
}
.content-loader .spinner-border {
    width: 32px !important;
    height: 32px !important;
}
.content-loader > div {
    min-height: 300px;
}
/* END Toggle Favorites */

/* INIT Card Structure */
.cards {
    float: left;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 24px;
}
.favorites-cards .list-cards,
.favorites-detail-cards .list-cards {
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
/* END Card Structure */